body{
    background: ghostwhite;
    font-family: "Arial";
}
p{
    color: black;
}
h1, h2, h3{
    color: black;
}

a{
    color: cadetblue;
}
a:hover{
    color: crimson;
}

div {
    box-sizing: border-box;
}

#header{

}
#hovedmeny{

}

#hovedmeny ul {
    display: flex;
    flex-direction: row;
}

#hovedmeny ul li {
    display: flex;
}

#hovedmeny ul li a{
    padding: 10px;
    border: 1px solid grey;
}

#hovedmeny ul li a:hover {
    background-color: grey;
    color: white;
}

#innholdet{
    width: 100%;
    height: 100%;
    /**
    Burde vi lære de om flex eller float og width?
    ***/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#nyhetene{
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: darkmagenta;
    padding: 10px;
}
.en-nyhet{
    overflow:hidden;
    padding: 10px;
    flex: 0 0 25%;
    width: 25%;
}
.en-nyhet .bilde{
    width: 100%;
    height: 250px;
}
.en-nyhet .bilde img{
    width: 100%;
    height: auto;
}
.en-nyhet .overskrift{

}
.en-nyhet .beskrivelse{

}
#hoyre-side{
    flex: 1;
    background-color: cornflowerblue;
    padding: 10px;
}
.min-profil-mini{

}
#footer{
    height: 50px;
}