body{
    background: whitesmoke; /**Setter bakgrunnsfarge på teksten**/
    font-family: "Arial"; /**Forteller hvilken fonttype vi skal bruke**/
    margin: 0;
}
p{
    color: black; /**Setter fargen på teksten inne i denne div'en**/
}
h1, h2, h3{
    color: white;
}

a{
    color: cadetblue;
}
a:hover{
    color: crimson;
}

div {
    box-sizing: border-box; /** padding and border er inkludert i div'ens bredde og høyde **/
}

/** HEADER og MENY **/
#header{
    padding: 20px; /** Luft inni boksen**/
    text-align: center; /** Midtstiller teksten **/
    width: 100%; /** Diven skal bruke 100% (hele) bredden**/
    float: left;
    background: cadetblue;
}
#side-tittel{
    font-size: 60px;
    margin: 0;
}
#hovedmeny{
    color: white;
    display: flex; /** Layouten skal være flex. **/
    justify-content: center; /** Setter innholdet i div'en i midten horisontalt (bortover)**/
    align-content: center; /** Setter innholdet i div'en i midten vertikalt (oppover) **/
}

#hovedmeny ul {
    padding: 0; /** Luft inne i boksen**/
    display: flex;  /** Layouten skal være flex. **/
    flex-direction: row; /** Div'ene inne i denne div'en skal plasseres bortover**/
    background: white;
}

#hovedmeny ul li {
    display: flex;
}

#hovedmeny ul li a{
    padding: 20px;
    border: 1px solid grey;
    text-decoration: none;
}

#hovedmeny ul li a:hover {
    background-color: grey;
    color: white;
}

/** INNHOLDET **/
#innholdet{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/** VENSTRE SIDE AV INNHOLDET **/
#venstre-side{
    flex: 6;
}
.seksjon{
    padding: 10px;
}
.seksjon h2{
    color: cadetblue;
    font-size: 40px;
}
.seksjon.blaa{
    background: cadetblue;
}

.innholdsblokk{
    display: flex;
    flex-wrap: wrap;
}

.en-nyhet{
    overflow: hidden;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.en-nyhet .bilde{
    width: 100%;
    height: 350px;
    flex: 3;
    overflow: hidden; /**Hvis noe tar større plass en div'en (feks et bilde) skjuler vi det som går utenfor**/
}
.en-nyhet .bilde img{
    width: 100%;
    height: auto;
}
.en-nyhet .beskrivelse{
    flex: 1;
    background: #FFF;
    color: #777;
    padding: 20px;
}
.en-nyhet .beskrivelse h3{
    margin: 0;
}

.en-nyhet .overskrift{
    color: #444;
    font-size: 32px;
}
.en-nyhet iframe{
    max-width: 100%;
}
/** HØYRE SIDE AV INNHOLDET **/
#hoyre-side{
    flex: 1;
    padding: 20px;
    border-left: 1px dashed ghostwhite;
    background-color: steelblue;
}
#hoyre-side p{
    color: white;
}
.min-profil-mini{
    text-align: center;
}
.min-profil-mini img{  }

/** FOOTER **/
#footer{
    height: 50px;
    display: flex;
    justify-content: center; /** Setter innholdet i div'en i midten horisontalt (bortover)**/
    align-content: center; /** Setter innholdet i div'en i midten vertikalt (oppover) **/
    background: cadetblue;
    border-top: 5px solid steelblue;
}
#footer p{color: white;}